asgiref==3.7.2
beautifulsoup4==4.12.3
dj-database-url==2.1.0
Django==3.2.24
django-bootstrap4==24.1
django-heroku==0.3.1
gunicorn==21.2.0
packaging==23.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
pytz==2024.1
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.10.0
whitenoise==6.6.0
